{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        {% if messages %}
        <div class="alert
         {% if messages %} alert-success {% else %} alert-warning {% endif %} text-center" role="alert">
            {% if messages %}
                {% for message in messages %}
                     {{ message }}
                {% endfor %}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
       </div>
        {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Store</h1>
                <p>
                    New images and the best brands on the Store.
                     Free worldwide shipping! Outlet: up to -70% Own brand. -20% for new customers.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        Start shopping
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}




